* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* rubik-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rubik-v28-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* rubik-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/rubik-v28-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* rubik-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/rubik-v28-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    min-height: 100%;
    background-color: #FFFFFF;
    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #4F5665;
}

.wrapper {
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
}

/* Header Style Start */
.header-wrapper {
    max-width: 1140px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px 0 0 0;
    width: 100%;

}

.logo {
    padding: 0 0 0 0;
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
}
.nav-item {
    margin-right: 40px;
}

.nav-item:first-child {
    margin-left: 157px;
}
.nav-item:last-child {
    margin-right: 130px;
}
.nav-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 18.96px;
    color: #4F5665;
    text-decoration: none;
}

.nav-link:hover, .nav-link:focus, .nav-link:active {
    opacity: .75;

}
.nav-button {
    display: none;
}
.sign {
    font-size: 16px;
    font-weight: 500;
}

.log {
    margin-right: 30px;
    color: #0B132A;
    border: none;
    background: none;
}

/* Header Style End */

/* Intro Style Start */

.main-button {
    color: #FFFFFF;
    border-radius: 10px;
    background: #F53838;
    width: 250px;
    height: 60px;
    padding: 1em 2em;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 25px 40px -10px #F5383859;

}
.button {
    border: 0;
    border-radius: 50px;
    font-weight: 500;
    margin: 0 10px;
    width: 150px;
    padding: 10px 0;
    color: #F53855;;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #F53855;;
  }
.button:hover {
    border: 0;
    border-radius: 50px;
    font-weight: 500;
    margin: 0 10px;
    width: 150px;
    padding: 10px 0;
    color: #FFFFFF;
    background: #F53838;
    box-shadow: 0px 25px 40px -10px #F5383859;
  }

.common-title {
    text-align: center;
    font-size: 35px;
    line-height: 50px ;
    color: #0B132A;
    margin-bottom: 20px;
}

.main-info {
    max-width: 555px;
}
.main-title {
    font-size: 50px;
    line-height: 70px;
    color: #0B132A;
    font-weight: 500;
    margin-bottom: 20px;
}
.main-text {
    margin-bottom: 50px;
}
#bold {
    font-weight: 700;
}
.common-text {
    margin: 20px 0 20px 0;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #4F5665;
}
#boold {
    font-weight: 600;
    color:  #0B132A;
}
.intro-wrapper {
    margin-top: 88.49px;
    margin-bottom: 103px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Intro End*/

/*Additional Info Start*/
.info .wrapper {
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 56px;
    border: 2px #EEEFF2 solid;
    border-radius: 10px;
    margin-bottom: 95px;
}

.info-item-box {
    width: 380px;
    height: 125px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.info-item-box:first-child {
    border-right: 2px solid #EEEFF2;
}
.info-item-box:last-child {
    border-left: 2px solid #EEEFF2;
}

.info-item {
    height:72px;
    width: 200px;
    display: flex;
    justify-content: space-around;
}
.info-item-number {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700px;
}

.info-item-text {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400px;
    color: #4F5665;

}
/*Info End*/

/*Sub-Content Start*/
.sub-content .wrapper{
    margin-top: 95px;
    margin-bottom: 131.19px; 
}
.sub-content-wrapper {
    display: flex;
    justify-content: space-between;
}

.sub-info {
    max-width: 555px;
    margin-top: 150px;
}

.sub-info .sub-title {
    text-align: start;
    max-width: 384px;
    height: 100px;
    margin-bottom: 20px;
    font-weight: 500;
    color: #0B132A;
}

.sub-info .sub-text {
    max-width: 428px;
    margin-bottom: 20px;
}

.sub-feature {
    background-size: 24px;
    line-height: 30px;
    margin-bottom: 15px;
}
.second-image {
    position: absolute;
    margin-top: 95px;
}
/*Sub-Content End*/

/*Plans Start*/
.plan-text {
    max-width: 555px;
    text-align: center;
    margin: auto;
}
.plans {
    background-position: top center;
    background-size: 1400px;
    padding-bottom: 180px;
}
.plans-types {
    height: 760px;
    display: grid;
    grid-template-columns: repeat(3, 330px);
    justify-content: space-between;
    margin-top: 60px;
} 

.plans-type .plans-type-title {
    margin-top: 0px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color: #0B132A;
}
.plans-type {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #FFFFFF;
    border-radius: 10px;
    border: 2px solid #DDDDDD;
}
.plans-type-info-box  {
    max-height: 191px;
}
.plans-type:hover {
    border: solid #F53838;

}
.plans-type-image {
    height: 165.37px;
}

.plans-type .plans-type-info {
    position: relative;
    text-align: start;
    margin-bottom: 15px;
    font-size: 14px;
    line-height: normal;
}

.plans-type-price {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    line-height: 30px ;
    letter-spacing: 1.92px;
}


/*Plans End*/

/*Global Start*/

.global-info .global-title {
    max-width: 384px;  
    margin: auto;
} 
.global-info .global-text {
    max-width: 555px;
    text-align: center;
    margin: 20px auto;
}
.global-image {
    margin-top: 155px;
    margin-bottom: 36px;
}

/*Global End*/

/*Review Start*/
.reviews-title {
    max-width: 447px;  
    margin: auto;
} 
.reviews-text {
    max-width: 555px;
    text-align: center;
    margin: 20px auto;
}
.reviews-content {
    padding: 50px 0;
}

.reviews .reviews-item {
    width: 400px;
    height: 230px;
    border: 2px solid #DDDDDD;
    padding: 30px;
    border-radius: 10px;
}
.reviews-item .info {
    display: flex;
    align-items: center;
}
.reviews-item .text-box-main {
    width: 182px;
    height: 50px;
    padding: 30px;
    text-align: start;
    line-height: normal;
}
.reviews-item .name {
    font-size: 18px;
    color: #0B132A;
    line-height: 30px;
}
.reviews-item .country {
    margin-top: 0;
    font-size: 14px;
    color: #4F5665;
    line-height: 30px;
}
.reviews-item .p {
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    margin-top: 20px;
}

.reviews .swiper-pagination {
    position: relative; 
    margin-top: 40px;
    bottom: auto;
}
.swiper-pagination-tools {
    margin-top: 60px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
}
.reviews .swiper-pagination-bullet {
    width: 15px; 
    height: 15px; 
    background: #DDE0E4; 
    opacity: 1; 
}
.reviews .swiper-pagination-bullet-active { 
    width: 40px; 
    transition: width .5s; 
    border-radius: 5px; 
    background: #F53838; 
    border: 1px solid transparent; }

.arrows {
    position: absolute;
    display: flex;
    gap: 20px;
    align-items: center;
}
.arrows-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #F53838;
}
.arrows span {
    font-size: 30px;
    background-color: transparent;
    color: #F53838
}
.arrows-buttons:hover {
    background-color: #F53838;
    color: #FFFFFF;
}
.arrows-buttons span:hover {
    color: #FFFFFF;
}
.reviews .swiper-slide-active {
    width: 400px;
    height: 230px;
    border: 2px solid #F53838;
}
.swiper-slide .reviews-item .swiper-slide-next {
    width: 400px;
    height: 230px;
}


/*Review End*/

/*Subscribe Start*/
.subscribe {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  
.subscribe .wrapper {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 56px;
    width: 1140px;
    height: 233px;
    padding: 2px;
    transform: translateY(115px);
  }

.content-title {
    max-width: 372px;
    font-size: 35px;
    line-height: 45px;
    font-weight: 500;
    color:#0B132A;
    margin-bottom: 20px;
}
/*Subscribe End*/

/*Footer Start*/
.footer {
    height: 1440px;
    background-color: #F8F8F8;
    padding: 60px 0;
    height: 563.12px;

}
.footer .wrapper .row {
    margin-top: 64px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}

.footer-about {
    margin-top: 20px;
    max-width: 340px;
    margin-bottom: 30px;
}
.footer ul {
    list-style: none;
}
.social-icons {
    display: flex;
    justify-content: flex-start;
  }
.last-title {
    margin-bottom: 20px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color: #0B132A
}  
.footer span {
    color: #AFB5C0;
}
/*Footer End*/

@media (max-width: 1000px) {
    .header-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .intro-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .sign {
        display: none;
    }
    .nav-button {
        width: 50px;
        height: 37px;
        display: block;
        border: 2px solid #F53838;
        border-radius: 10%;
        background-color: white;
    }
   
    .header-wrapper {
        display: flex;
        justify-content: space-evenly;
    }
    
}

