* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #FFFFFF;
    font-family: 'Rubik', sans-serif;
    color: rgba(11, 19, 42, 1);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
.main-button {
    color: #FFFFFF;
    border-radius: 10px;
    background: #F53838;
    width: 250px;
    height: 60px;
    padding: 1em 2em;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 25px 40px -10px #F5383859;

}
.button {
    border: 0;
    border-radius: 50px;
    font-weight: 500;
    margin: 0 10px;
    width: 150px;
    padding: 10px 0;
    color: #F53855;;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid #F53855;;
  }
.button:hover {
    border: 0;
    border-radius: 50px;
    font-weight: 500;
    margin: 0 10px;
    width: 150px;
    padding: 10px 0;
    color: #FFFFFF;
    background: #F53838;
    box-shadow: 0px 25px 40px -10px #F5383859;
  }

.common-title {
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 35px;
    line-height: 50px ;
    letter-spacing: 1.92px;
}
.header {
    display: flex;
    justify-content: space-between;
    padding: 50px 150px;
    align-items: center;
}
.logo {
    cursor: pointer;
}
.nav {
    list-style: none;
    color: #4F5665;
    font-weight: 400;
}
.nav li {
    display: inline-block;
    padding: 0 20px;
}
.sign {
    display: flex;
    align-items: center;
    font-weight: 500;
    cursor: pointer;
}

.log {
    padding: 0;
    border: none;
    background: none;
}

.main-content {
    padding-top: 103px;
    padding-bottom: 199px;
}
.main-content .container {
    position: relative;
}
.main-info {
    max-width: 555px;
}
.main-title {
    font-size: 50px;
    font-family: 'Rubik', sans-serif;
    line-height: 70px;
    letter-spacing: 2px;
    margin-bottom: 56px;
}
.common-text {
    margin-top: 20px;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 56px;
    color: #4F5665;
}

.first-image {
    position: absolute;
    top: 10px;
    left: 700px;
}

#info {
    background-color: #FFFFFF;
    width: 1140px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-left: solid #EEEFF2;
    margin-bottom: 56px;
}
.info-item {
    width: 200px;
    display: flex;
    justify-content: space-around;
    
}
.info-item-number {
    font-size: 25px;
    line-height: 30px;
    font-weight: 700px;
}

.info-item-text {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400px;
    color: #4F5665;

}

.sub-content {
    padding-top: 103px;
    padding-bottom: 199px;
  
}
.sub-content .container {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.sub-info {
    max-width: 555px;
}

.second-image {
    position: absolute;
}
.plan-text {
    text-align: center;
}
.plans {
    background-position: top center;
    background-size: 1400px;
    padding-bottom: 180px;
}
.plans-types {
    display: grid;
    grid-template-columns: repeat(3, 330px);
    justify-content: space-between;
    margin-top: 60px;
} 
.plans-type {
    text-align: center;
    height: 760px;
    padding: 30px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 2px solid #DDDDDD;
}
.plans-type:hover {
    border: solid #F53838;

}
.plans-type-image {
    height: 165.37px;
}
.plans-type-image img {
    max-width: 100%;
}
.plans-type-title {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500px;
    margin: 24px 0;
}
.plans-type-info {
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 24px;
}

.plans-type-price {
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    line-height: 30px ;
    letter-spacing: 1.92px;
}
.global-text {
    text-align: center;
}

.reviews-text {
    text-align: center;
}
.reviews-content {
    padding: 50px 0;
}

.reviews-item {
    width: 400px;
    height: 230px;
    border: 2px solid #DDDDDD;
    padding: 30px;
    border-radius: 10px;
}
.reviews-item .info {
    display: flex;
    align-items: center;
}
.reviews-item .text-box-main {
    width: 182px;
    height: 50px;
    padding: 30px;
    text-align: start;
    line-height: normal;
}
.reviews-item .name {
    font-size: 18px;
    color: #0B132A;
    line-height: 30px;
}
.reviews-item .country {
    font-size: 14px;
    color: #4F5665;
    line-height: 30px;
}
.reviews-item .p {
    letter-spacing: 2px;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    margin-top: 20px;
}
.reviews .swiper-pagination {
    position: relative;
    margin-top: 40px;
    bottom: auto;
}
.reviews .swiper-pagination-bullet {
    text-align: start;
    height: 12px;
    width: 12px;
    background-color:#F53838;
}

.subscribe {
    background-color: #FFFFFF;
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  
.subscribe .container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 56px;
    width: 1140px;
    height: 233px;
    border: 2px solid black;
    padding: 2px;
    border-radius: 10px;
  }

.subscribe .content {
    width: 410px;
    height: 116px;
}
.subscribe .content h1 {
    font-size: 35;
    line-height: 45px;
    font-weight: 500;
}
.footer {
    background-color: #F8F8F8;
    padding: 60px 0;
    height: 563.12px;

}
.footer .container .row {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
.footer ul {
    list-style: none;
}
.social-icons {
    margin-top: 40px;
    display: flex;
    justify-content: flex-start;
  }
  
.footer span {
    color: #AFB5C0;
}